<script src="{{ 'custom-checkout.js' | asset_url }}" defer></script>
<button id="btnCheckout">Get Cart ID</button>

{% schema %}
  {
    "name": "Checkout Button",
    "settings": [],
    "presets": [
    {
      "name": "Checkout Button",
    }
  ]
  }
{% endschema %}
