.d-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col-flex{
  flex-grow: 1;
  flex-basis: 0;
}

.field{
  margin-top: 10px;
  max-width: 500px;
}

.select{
  max-width: 500px;
}

#container-new-address{
  display: none;
}

.mt-10{
  margin-top: 10px;
}

.ship-to-container{
  font-size: 14px;
}